img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #595138;
}
body {
  background-color:#8C7B46;
}
h1, h2, h3 {
  color:#0D0D0D;
}
.pretty {
font-family: 'IBM Plex Serif', serif;
}
.aboutme {
font-family: 'Raleway', sans-serif;
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 50px;
}
.metitle {
  padding-left: 40px;
}
.projects {
  font-family: 'IBM Plex Serif', serif;
  font-size: 3rem;
  letter-spacing: 2px;
}
.ul{
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
.backgroundaboutme {
  background-color:#BF9E60;
}
.margin-top {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-about {
  background-color: #F2F2F2;
  width: 300px;
  border: 5px solid #595138;
  padding: 50px;
  margin: 50px;
  float: right;
}

.box-project{
  background-color: #F2F2F2;
  width: 300px;
  border: 5px solid #595138;
  padding: 50px;
  margin: 50px;
  float:inline-end;
}
.nice-about {
  font-size: 13rem;
  color: #595138;
}

.nice-project {
  font-size: 13rem;
  color: #595138;
  
}
